#App {
  height: 100vh;
  width: 100vw;
  text-align: -webkit-center;
  font-family: 'Noto Serif JP', serif;
}

.fa-snowflake {
  width: 1000px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display-weather-wrapper__icon-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#city-search-wrapper {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 25%;
  background: #eb6e4b;
}

#city-search-wrapper__inputs-wrapper {
  display: flex;
  place-content: center;
}

#city-search-wrapper__search-bar {
  border: none;
  border-radius: 8px;
  font-size: 3.2vh;
  text-align: center;
  width: 50%;
}

#city-search-wrapper__search-button {
  margin-left: 20px;
  color: #48484a;
}

#display-weather-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: space-evenly;
  height: 65%;
  width: 90%;
}

#display-weather-wrapper__change-units-button {
  border: none;
  background: #eb6e4b;
  font-size: 2vh;
  border-radius: 8px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#display-weather-wrapper__degrees-wrapper {
  font-size: 3.5vh;
  font-weight: 500;
}

#current-weather__icon-description-wrapper {
  font-size: 3vh;
}

#display-weather-wrapper__daily-weather {
  overflow: scroll;
  width: 95%;
}

.details-box__detail {
  margin-top: 5px;
  font-size: 2.3vh;
}

#daily-weather__title {
  font-size: 3.2vh;
  margin-bottom: 10px;
}

#daily-weather__carousel {
  overflow: scroll;
  width: 95%;
  text-align: -webkit-center;
}

#carousel__daily-weather {
  display: flex;
  width: 600px;
  text-align: center;
  place-content: center;
}

::-webkit-scrollbar {
  display: none;
}

.display-weather-wrapper__day {
  padding: 10px;
  border-right: solid 1px #c6c6cf;
  font-size: 2.3vh;
}

#display-weather-error-wrapper {
  margin-top: 20px;
  font-size: 3.5vh;
  place-content: center;
}

@media only screen and (min-width: 2560px) {
  #city-search-wrapper__search-bar {
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 5vh;
  }

  #display-weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 60%;
    width: 50%;
    margin-top: 20px;
  }
}
