#App {
  height: 100vh;
  width: 100vw;
  text-align: -webkit-center;
  font-family: 'Noto Serif JP', serif;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.fa-snowflake {
  width: 1000px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display-weather-wrapper__icon-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#city-search-wrapper {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 25%;
  background: #eb6e4b;
}

#city-search-wrapper__inputs-wrapper {
  display: flex;
  place-content: center;
}

#city-search-wrapper__inputs-wrapper__clearbox {
  display: flex;
  flex-direction: row;
  background: white;
}

#city-search-wrapper__search-bar {
  border: none;
  border-radius: 8px;
  font-size: 2.3vh;
  text-align: center;
}

#city-search-wrapper__search-button {
  background: #48484a;
  border: none;
  font-size: 3vh;
  color: #eb6e4b;
  height: 100%;
}

#city-search-wrapper__search-button--color {
  background: #48484a;
  border: none;
  font-size: 3vh;
  color: #eb6e4b;
  height: 100%;
}

#city-search-wrapper__search-button--color:hover {
  background: #6d6d70;
}

#display-weather-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: space-evenly;
  height: 65%;
  width: 90%;
}

#display-weather-wrapper__degrees-wrapper {
  font-size: 3.5vh;
  font-weight: 500;
}

#current-weather__icon-description-wrapper {
  font-size: 3vh;
}

#display-weather-wrapper__daily-weather {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  overflow: scroll;
  width: 95%;
  text-align: center;
}

.details-box__detail {
  margin-top: 5px;
  font-size: 2.3vh;
}

#daily-weather__title {
  font-size: 3.2vh;
  margin-bottom: 10px;
}

#daily-weather__carousel {
  overflow: scroll;
  width: 600px;
  text-align: center;
  scrollbar-width: none;
}

#carousel__daily-weather {
  display: flex;
  width: 600px;
  text-align: center;
  place-content: center;
}

::-webkit-scrollbar {
  display: none;
}

.display-weather-wrapper__day {
  padding: 10px;
  border-right: solid 1px #c6c6cf;
  font-size: 2.3vh;
}

#display-weather-wrapper__change-units-button {
  border: none;
  background: #eb6e4b;
  font-size: 2vh;
  border-radius: 8px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#display-weather-wrapper__change-units-button--color {
  border: none;
  background: #eb6e4b;
  font-size: 2vh;
  border-radius: 8px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#display-weather-wrapper__change-units-button--color:hover {
  background: #de6745;
}

a {
  font-size: 2vh;
  color: #eb6e4b;
}

#display-weather-error-wrapper {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 3.5vh;
  place-content: center;
}

@media only screen and (min-width: 2560px) {
  #city-search-wrapper__search-bar {
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 5vh;
  }

  #city-search-wrapper__search-button {
    background: #48484a;
    border: none;
    font-size: 5vh;
    color: #eb6e4b;
    height: 100%;
  }

  #city-search-wrapper__search-button--color {
    background: #48484a;
    border: none;
    font-size: 5vh;
    color: #eb6e4b;
    height: 100%;
  }

  #city-search-wrapper__search-button--color:hover {
    background: #6d6d70;
  }

  #display-weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 60%;
    width: 50%;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #display-weather-wrapper__daily-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;
    overflow: scroll;
    width: 95%;
    text-align: center;
  }
  #daily-weather__carousel {
    overflow: scroll;
    text-align: center;
    scrollbar-width: none;
  }
}
